/** MODULE */

.just_added {
    font-size: 2rem;
    height: 5rem;
    padding: 1.5rem;
}

/** THEMES */

.just_added {
    animation: fade-out 3s;
    color: transparent;
    text-align: center;
}

@keyframes fade-out {
    from {
        color: var(--color_dark);
        opacity: 1;
    }
    to {
        color: transparent;
        opacity: 0;
    }
}
