/** MODULE */

.store_page {
}

.product_card_grid {
    display: grid;
    grid-auto-rows: 15rem;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem 3rem;
}

.product_list_item {
}

/** THEME */

.store_page {
}

.product_card_grid {
}
